/* Global Styles
===============================*/
* {
	-webkit-transition: 0.4s all ease;
		-moz-transition: 0.4s all ease;
				transition: 0.4s all ease;
}

html {
	height: 100%;
}


body {
	background-color: $black-bg;
	color: $white;
	font-family: $proxima-nova;
	position: relative;
	height: 100%;

}

h1,
h2,
h3,
h4,
h5,
h6{
	font-weight: 100;
	text-transform: uppercase;
	letter-spacing: 4px;
}


p {
	font-weight: 100;
	max-width: 500px;
}


.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}




/* Dashboard Styles
==============================*/
.logo {
	display: inline-block;
	margin-left: 30px;
}

.mars-planet {
	color: $mars-orange;
	font-size: 17px;
}




#main-dash {
	height: 100%;
	padding: 80px 40px;
	background-color: $dark-black;
	margin-left: 80px; //offsets sidebar
	position: relative;
}




div.selected {
	display: block !important;
}

.dash-module-container {
	display: none;
}

.dash-module {
	width: 50%;
	float: left;
	display: inline-block;
}

.mars-data {
	color: $mars-orange;
}

.module-heading {
	font-weight: normal;
}






