/* Orbit Module Styles
=====================*/
#spacetime {
	display: block;
	margin: 0px auto;
}

#orbit-traveler {
	width: 50%;
}

.orbit-btns {
	margin-top: 30px;
}

.winter {
	color: aquamarine !important;
}

.summer {
	color: yellow !important;
}

.spring {
	color: greenyellow;
}

.autumn {
	color: brown;
}

.earth-data {
	color: #6db6ff;
}