/* COLOR PALETTE
==============================*/
$black-bg: #1b1b1f;
$white: #fff;
$muted-black: #303039;
$dark-black: darken($black-bg, 2%);
$sidebar-black: #131313;
$mars-orange: #e95124;
$light-orange: #eb7812;
$earth-blue: #4389cb;
