/* Nav Sidebar
===============================*/

aside#sidebar-nav {
	position: fixed;
	background-color: $sidebar-black;
	min-height: 100%;
	width: 80px;
	display: none;
	@media screen and(min-width: $phone) {
		display: block;
	}
}

ul.sidebar-nav-icons {
	list-style: none;
	padding: 0px;
	margin: 0px;
	text-align: center;
	& li {
		font-size: 14px;
		font-weight: 100;
		background-color: $sidebar-black;
		border-right: 2px solid $sidebar-black;
		padding: 60px 0px;
		cursor: pointer;
	}
	
	& li.active {
		background-color: $dark-black !important;
		border-right: 2px solid $black-bg;
	}
}

.sidebar-icon {
	fill: #fff;
	position: relative;
	width: 80%;
	height: 70px;
}


.active-icon {
	fill: $mars-orange;
}

