/* TEMPERATURE MODULE
===========================*/
button.unit-toggle {
	color: $white;
	background-color: $dark-black;
	border: solid 1px #313137;
	padding: 5px;
	border-radius: 2px;
	width: 10%;
	
	&:focus {
		outline: none;
	}
}

.button-group-right {
	margin-left: -6px;
}

button.unit-active {
	background-color:  $black-bg;

}


.temp-module span {
	font-size: 3em;
}

#temp-graph {
	position: relative;
}

#graph-ui {
	// the legend and controls are hidden while the graph data is being loaded
	display: none; 
}
.min-bul {
	color: $mars-orange;
}

.max-bul {
	color: red;
}

.legend {
	display: inline;
	padding-left: 10%;
	padding-top: 15px;
	text-align: center;
	font-weight: 100;
}


/* SVG graphs styles
========================*/
path {
	stroke-width: 2;
	fill: none;
}

.minLine { 
	@extend path;
	stroke: $mars-orange;
}

.maxLine {
	@extend path;
	stroke: red;
}

.min-temp-chart-circle {
	stroke: $mars-orange;
	fill: $dark-black;
}

.max-temp-chart-circle {
	stroke: red;
	fill: $dark-black;
}

.axis path,
.axis line {
	fill: none;
	stroke: grey;
	stroke-width: 1;
	shape-rendering: crispEdges;
}

text {
	fill: white;
	font-weight: 100;
}


div.tooltip {
  position: absolute;	
  text-align: center;	
  width: 60px;	
  height: 28px;		
  padding: 2px;	
  font: $proxima-nova;		
  border: 0px;					
  border-radius: 2px;
	
}