/* TEMPERATURE MODULE
===========================*/
button.unit-toggle {
	color: $white;
	background-color: $dark-black;
	border: solid 1px #313137;
	padding: 5px;
	border-radius: 2px;
	width: 10%;
	
	&:focus {
		outline: none;
	}
}

.button-group-right {
	margin-left: -6px;
}

button.unit-active {
	background-color:  $black-bg;

}


.temp-module span {
	font-size: 3em;
}


/* SVG graphs styles
========================*/
path {
	stroke-width: 2;
	fill: none;
}

.minLine { 
	@extend path;
	stroke: $mars-orange;
}

.maxLine {
	@extend path;
	stroke: red;
}

.axis path,
.axis line {
	fill: none;
	stroke: grey;
	stroke-width: 1;
	shape-rendering: crispEdges;
}

text {
	fill: white;
	font-weight: 100;
}